.main {
  background: url('/background.jpg');
  min-height: 100dvh;
}

.content {
  background-color: #fac;
  padding: 16px;
  color: #fcfcfc;

  section {
    max-width: 664px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 32px;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
  }

  p {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
  }

  &:nth-child(odd) {
    background: none;
    color: #fac;
  }
}
