@import '@/styles/variables';

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  a {
    display: flex;
    border-radius: 8px;

    &:hover,
    &:focus {
      outline: none;

      img {
        filter: brightness(1.025) saturate(1.025);
      }

      .backImg {
        filter: blur(12px) saturate(2);
      }
    }
  }

  img {
    border-radius: 8px;
    width: 184px;
    height: 184px;
    object-fit: contain;
    z-index: 1;
    transition: filter 0.2s;
  }

  .backImg {
    position: absolute;
    z-index: 0;
  }

  @media only screen and (max-width: $content-max-width) {
    a:nth-child(9) {
      display: none;
    }
  }

  @media only screen and (max-width: 488px) {
    gap: 8px;
    margin: 0 -32px;

    img {
      width: 160px;
      height: 160px;
    }
  }
}
