@import '@/styles/variables';

.button {
  margin: 16px 0;
  display: block;
  text-align: center;
  padding: 16px;
  color: $white;
  background-color: darken($primary, 10%);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  text-decoration: none !important;

  &:hover,
  &:focus {
    color: darken($primary, 10%);
    background-color: $white;
    box-shadow: 0 0 8px $primary;
    outline: none;
  }
}
